<% if game.errors.any? %>
  <div class="alert alert-warning">
   <div><%= game.errors.count %> error prohibited this game from being saved:</div>
    <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @game url: public_games_path, local:true do |f| %>

 <h4>Title</h4>
 <%= f.text_field :title %>

 <h4>Opinion</h4>
 <%= f.text_area :body %>
 <%= f.submit "Create Game", class: "btn btn-success" %>
<% end %>