<% if game.errors.any? %>
  <div class="alert alert-warning">
   <div><%= game.errors.count %> error prohibited this game from being saved:</div>
    <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @game, url: public_games_path, local:true do |f| %>
  <div class='form-group'>
    <%= f.label 'タイトル', class: 'col-sm-6' %>
    <%= f.text_field :title, class: 'col-sm-8', placeholder: "ゲームタイトル" %>
  </div>
  <div class='form-group'>
    <%= f.label '本文', class: 'col-sm-4' %>
    <%= f.text_area :body, class: 'col-sm-8', placeholder: "本文どうぞ！" %>
  </div>

  <div class='form-group'>
    <%= f.label '写真', class: 'col-sm-3' %>
    <%= f.attachment_field :image, class: 'col-sm-8', placeholder: "イメージ" %>
  </div>

  <div class='text-center'>
    <%= f.submit 'Create Game', class: 'btn btn-success' %>
  </div>

<% end %>