<div class="container-fluid">
  <div class="row">
    <div class="col-3 ml-3">
     <h2>新規登録</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class='col-sm-8 offset-sm-2'>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class='form-group'>
          <%= f.label '名前', class: 'col-sm-4' %>
          <%= f.text_field :name, placeholder: "なまえ" %>
        </div>

        <div class='form-group'>
          <%= f.label 'ニックネーム', class: 'col-sm-4' %>
          <%= f.text_field :nickname, placeholder: "ニックネーム" %>
        </div>

        <div class='form-group'>
          <%= f.label 'メールアドレス', class: 'col-sm-4' %><%= f.email_field :email, class: 'col-sm-8', placeholder: "sample@example.com" %>
        </div>

        <div class='form-group'>
          <%= f.label '自己紹介', class: 'col-sm-4' %><%= f.text_field :introduction, placeholder: "自己紹介文" %>
        </div>

        <div>
          <%= f.label 'アイコン写真', class: 'col-sm-3' %>
          <%= f.attachment_field :profileimage, class: 'col-sm-8', placeholder: "アイコン" %>
        </div>

        <div class='form-group'>
          <%= f.label 'パスワード', class: 'col-sm-4' %>
           <%= f.password_field :password, placeholder: "6文字以上" %>
          <% if @minimum_encrypted_password_length %>
            (<%= @minimum_encrypted_password_length %>6文字以上)
          <% end %>
        </div>

        <div class='form-group'>
          <%= f.label '確認用パスワード', class: 'col-sm-4' %>
           <%= f.password_field :password_confirmation, placeholder: "6文字以上" %>
          <% if @minimum_encrypted_password_length %>
            (<%= @minimum_encrypted_password_length %>6文字以上)
          <% end %>
        </div>

        <div class='text-center'>
            <%= f.submit "新規登録" ,class: 'btn btn-primary' %>

          <p>既に登録済みの方</p>
          <p><%= render "public/shared/links" %></p>
          <p>からログインしてください。</p>
        </div>
      <% end %>
    </div>
  </div>
</div>