<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="order-detail text-center">
        <h4><%= @user.nickname %>さんのユーザー詳細</h4>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
   <div class="col-md-8">
      <table class="table">
       <tr>
        <th>ユーザーID</th><td><%= @user.id %></td>
       </tr>
       <tr>
        <th>氏名</th><td><%= @user.name %></td>
       </tr>
       <tr>
        <th>ニックネーム</th><td><%= @user.nickname %></td>
       </tr>
       <tr>
        <th>メールアドレス</th><td><%= @user.email%></td>
       </tr>
       <tr>
        <th>会員ステータス</th>
        <td>
         <% if @user.is_deleted == false %>
          <font color="#528fff">有効</font>
         <% else %>
          <font color="red">退会済</font>
         <% end %>
         </td>
       </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div>
     <%= link_to "編集する", edit_admin_user_path(@user) , class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>