<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <h1></h1>
    <%= attachment_image_tag user, :profileimage, :fill, 60, 60, format:'jpeg', class:"img-circle pull-left profile-img", fallback:"no_image.jpg" %>
    <table class="table">
      <tr>
        <th>nickname</th>
        <th><%= user.nickname %></th>
      </tr>
      <tr>
        <th>Introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
       <th>follow</th>
         <th><%= link_to "#{user.followings.count} フォロー", followings_user_path(user) %></th>
      </tr>
      <tr>
       <th>follower</th>
         <th><%= link_to "#{user.followers.count} フォロー", followers_user_path(user) %></th>
      </tr>
    </table>
    <%= link_to(edit_user_path(user), class:"btn btn-default btn-block edit_user_#{current_user.id}") do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end %>
    </div>
  </div>
</div>